
<div id="cal-wrap" class="no-show" ng-controller="calCtrl" ng-init="init()">
    <% include topbar.ejs %>

    <div class="title">
        <p class="name">Calendar</p>
        <p class="desc">당신의 일정을 확인하세요.</p>
    </div>
    <div id="cal" class="card">
        <div id="calendar" style="">
        </div>


    </div>



</div>