
<div id="login-wrap" class="no-show">
    <div id="login">
        <div class="midas-logo"></div>
        <form class="login-form" action="">
            <p>Login</p>11
            <div><label for="">EMAIL</label>
                <input id="login-email" type="text" placeholder="이메일을 입력하세요.">
            </div>
            <div>
                <label for="">PASSWORD</label>
                <input id="login-password" type="password" placeholder="비밀번호를 입력하세요.">
            </div>

            <button class="btn-login" type="button">
                Login
            </button>

            <button class="btn-register" type="button">
                Register
            </button>
        </form>

        <form class="register-form no-show" action="">
            <p>Register</p>
            <div><label for="">EMAIL</label>
                <input id="register-email" type="email" placeholder="사용할 이메일를 입력하세요.">
            </div>
            <div>
                <label for="">EMAIL REPEAT</label>
                <input id="register-password" type="email" placeholder="이메일을 다시 입력하세요.">
            </div>
            <div>
                <label for="">PASSWORD</label>
                <input id="register-password-repeat" type="password" placeholder="비밀번호 입력.">
            </div>
            <div>
                <label for="">NAME</label>
                <input id="register-name" type="text" placeholder="이름">
            </div>

            <button class="btn-register" type="button">
                Register
            </button>

        </form>

    </div>

</div>