

<div class="topbar">
    <div class="left">
        <p class="home">
            <i class="icon-home3"></i>
        </p>
        <form class="search" action="">
            <input type="text" placeholder="검색어를 입력하세요.">
        </form>
    </div>

    <div class="right">
        <p class="welcome">
            <span>
                <%= member_name %>
            </span>
            <span>
                님 환영합니다.
            </span>
        </p>
        <p class="today">
            오늘은 2016년 5월 29일입니다.
        <div class="menu">
            <i class="icon-bell"></i>
            <i class="icon-envelop"></i>
            <p>logout</p>
        </div>
    </div>

</div>